streamlit

# Utilities
numpy
pandas
xlsxwriter
reportlab

# Face Recognition
scikit-learn
dlib-bin
face-recognition-models
setuptools<70.0.0

# Database
pymongo
bcrypt

# QR Code
segno
pillow

# Voice Recognition
librosa
webrtcvad-wheels

resemblyzer

XlsxWriter
